venv/
.vscode/
tests/__pycache__/.
.pytest_cache/
app/__pycache__/.
AWSCLIV2.pkg
awscliv2.zip
aws/
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/.terraform.tfstate.lock.info
terraform/terraform.*
terraform.tfstate